body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;

    display: grid;
    place-content: center;
    min-height: 125vh;
  }

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

h2 {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 370px;
    border-radius: 20px;
    text-align: center;
    padding: 16px;
}


.qr-code {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.attribution {
    margin-top: 100px;
    text-align: center;
}